.m-div {
     width: 100%;
  min-height: 100vh;
    background: linear-gradient(to left , rgb(255, 176, 176) , rgb(176, 176, 230));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}